/*  Hey pleasse review my changes here*/
.container {
    display: flex;
    justify-content: center;
}

.hello {
    color: black;
    font-size: larger;
    font-family: serif;
    position: absolute;
    top: 33%;
}
